body{
  font-family: 'Ubuntu Mono', monospace;
  margin:0;
  padding:0;
  background-color:#dddddd;
}
body *{
    box-sizing: border-box;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

h1 {
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #7d7e7d 0%, #0e0e0e 100%) repeat scroll 0 0;
    color: #cccccc;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.1em 1em;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: auto;
    transform: rotate(91deg) translate(3em,4em);
}
h1:hover i:nth(1){
  display:none;
}
@media (max-width:400px){
  h1{
  transform: rotate(1deg) translate(0,0);
  }
}

div {
    background-color: white;
    border: 1px dashed #999999;
    margin: 1em auto;
}

@media (max-width:800px){
  div{width: 90%;}
} 
@media (min-width:801px){
  div{width: 50%;}
} 

div:hover{
  background: linear-gradient(to bottom, #b8c6df 0%,#6d88b7 100%); 
}

div>span{
  color: gray;
  margin: 2em;
  display: block;
}
div:hover>span{
  color:white;
}

textarea, input, button {
    display: block;
    margin: 0.7em auto;
    padding: 0;
    width: 90%;
   resize: none;	
}
textarea{
  width:calc(90% - 1em);
}

button {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%) repeat scroll 0 0;
    border: 0 none;
    border-radius: 0.5em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #222222;
    font-weight: bold;
    height: 3em;
    letter-spacing: 0.15em;
    margin-top: 0.5em;
    text-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
}
button:hover{
	background: linear-gradient(to bottom, #f2f6f8 0%,#bdc4c9 50%,#a1acb7 51%,#d0dde8 100%);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
button:active{
	background: linear-gradient(to bottom, #d4d7d8 0%,#effcfa 50%,#e0fffc 51%,#e0fffc 51%,#c0ccd6 100%); 
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

textarea {
    border: 1px dotted #555555;
    padding: 1em;
}

.hidden{
  display:none;
}
.footer{
transform: rotate(-2deg);
border:none;
background:none;
color:gray;
margin-top:5em;

}
.footer:hover{
background:none;
}